
<!DOCTYPE html>
<html>
<title>Contact Us</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="/w3.js"></script>
 <body background="http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg">



    <header class="w3-display-container w3-content" style="max-width:1500px">
<div w3-include-html="header.html"></div>



<!-- Page content -->
<div class="w3-content w3-padding-32" id="portfolio">

<br />

  <!-- Contact -->
  <div class="w3-light-grey w3-padding-xlarge w3-padding-32 w3-margin-top " id="contact">
    <h3 class="w3-center w3-text-brown">Contact</h3>
    <hr>
    <p class="w3-center w3-text-brown">
        You can reach us here through this form, we appreciate user involvement and hope to display your ideas on our website proudly!
    </p>

    <form action="mailto:srp4753supred123@gmail.com" target="">
      <div class="w3-group w3-text-orange">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" required name="Name">
      </div>
      <div class="w3-group w3-text-orange">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" required name="Email">
      </div>
      <div class="w3-group w3-text-orange">
        <label>Message</label>
        <input class="w3-input w3-border" required name="Message">
      </div>
      <button type="submit" class="w3-btn w3-btn-block w3-padding-12 w3-brown">Send</button>
    </form><br>


  </div>

<!-- End page content -->
</div>

</body>
<script>
w3IncludeHTML();
</script>
</html>
