<header>


<!-- Navbar (placed at the bottom of the header image) -->
<ul class="w3-navbar w3-brown w3-round  w3-hide-small w3-hide-medium w3-display-topmiddle" style="">
 <li><a href="/">Home</a></li>
<li><a href="/projects">Our Projects</a></li>
 <li><a href="/contact">Contact Us</a></li>
 <li><a href="/forum">Forum</a></li>
 <li><a href="/stores">Stores and Vendors</a></li>
 <li> <a href="/about">About Us</a></li>
</ul>


<!-- Navbar on small screens -->
<ul class="w3-navbar w3-brown w3-hide-large">
<li><a href="/">Home</a></li>
<li><a href="/projects">Our Projects</a></li>
<li><a href="/contact">Contact Us</a></li>
<li><a href="/forum">Forum</a></li>
<li><a href="/stores">Stores and Vendors</a></li>
<li> <a href="/about">About Us</a></li>
</ul>
</header>
