


<!DOCTYPE html>
<html>
<title>Stores and Vendors</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="stores_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="w3.js"></script>
<body background="http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg">

    <header class="w3-display-container w3-content" style="max-width:1500px">
    <div w3-include-html="header.html"></div>
<!-- Page content -->
<div class="c" id="portfolio">

  <!-- Images (Portfolio) -->
  <img src="" alt="" class="w3-image" width="1000" height="500">


  <!-- Contact -->
  <div class="w3-light-grey w3-padding-xlarge w3-padding-32 w3-margin-top" style="margin-top:64px" id="contact">
    <h1 class="w3-center w3-text-brown">Hobby Lobby</h1>
    <hr>
    <p class="w3-text-orange">This store is a great place to find arts and crafts oriented materials,
	and can be found near most cities/large towns. Their products are rather stylish
	and don’t carry a large price tag like many other arts oriented stores. Hobby
	Lobby understands the arts and crafts market in great detail, and have gone to
	great lengths to ensure quality products for their consumers. This is evident
	on their website itself, as they have over 10 departments with several subdivisions
	within said departments. Most arts and craft store owners wouldn’t recognize even
	3 of these subdivisions, let alone be able to name 10. There is no need to worry
	about getting lost in their huge collection either, as they have created an
	effective method of sorting through their products, with filters for brand, color,
	and sub category.</p>
	<center>
	<a href="http://www.hobbylobby.com/" target="_blank">
	<img src="http://img.hobbylobby.com/sys-master/images/h84/h96/h00/9058633875486/HL-Logo_DTHR.png" class="w3-hover-opacity w3-padding">
	</a>
	</center>
  </div>

<div class="w3-container">
<center><h2 class="w3-text-brown">Stores</h2></center>
<ul class="w3-navbar w3-border w3-light-grey w3-text-orange w3-center">
  <li style="width:25%"><a href="amazon.html">Amazon</a></li>
  <li style="width:25%"><a href="walmart.html">Walmart</a></li>
  <li style="width:25%"><a href="tomthumb.html">Tom Thumb</a></li>
  <li style="width:25%"><a href="#">Hobby Lobby</a></li>
</ul>
</div>

<!-- End page content -->
</div>

</body>
<script>
w3IncludeHTML();
</script>
</html>
