
  <!DOCTYPE html>
  <html>
  <title>SED</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="w3.css">
  <link rel="stylesheet" href="blueberry.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="jquery.blueberry.js"></script>
  <script src="w3.js"></script>
  <script>
  $(window).load(function(){
      $('.blueberry').blueberry();
  });
  </script>
  <body background="http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg">

  <!-- Header -->

  <header class="w3-display-container w3-content" style="max-width:1500px">
      <div w3-include-html="header.html"></div>
<div class="blueberry" style="padding-top: 2%">
		<ul class="slides">
			<li><img src="http://i.imgur.com/kbnCrCL.jpg" /></li>
			<li><img src="http://i.imgur.com/cdKamX1.jpg" /></li>
			<li><img src="http://i.imgur.com/InpBups.jpg" /></li>
            <div class="w3-display-middle w3-padding-xlarge w3-border w3-wide w3-text-light-grey w3-center">
              <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">SED</h1>
              <h5 class="w3-hide-large" style="white-space:nowrap">SED</h5>
              <h3 class="w3-hide-medium w3-hide-small">SELF-EXECUTED DESIGNS</h3>
            </div>
		</ul>

</div>


    <!-- Navbar (placed at the bottom of the header image) -->

  <!-- Page content -->
  <div class="w3-light-grey w3-content w3-padding-xlarge w3-margin-top" id="portfolio">

          <h1 class="w3-text-brown w3-center">Easy to follow tutorials!</h1>
          <p class="w3-text-orange">Our tutorials consist of a list of materials and supplies
          that are necessary to complete the DIY project, stores and vendors
          that sell the supplies, the approximate preparation time, and a video to follow
          along to while doing the project. A combination of these elements allow for the
          tutorials to be simple and easy to follow.</p>

          <h1 class="w3-text-brown w3-center">Simple requirements!</h1>
          <p class="w3-text-orange">Our tutorials are very easy to complete. There will never be a tutorial that
          requires an extensive task force or a large number of people or minds to complete.
          All of our tutorials can be completed by yourself!</p>

          <h1 class="w3-text-brown w3-center">Can be done at home!</h1>
          <p class="w3-text-orange">Most of our tutorials use materials that can be found in the average household.
          On the off chance that you don't have the materials at home already, we include
          local stores that will most likely have the materials in stock. </p>
  </body>
  <script>
w3IncludeHTML();
</script>
  </html>
