

  <!DOCTYPE html>
  <html>
  <title>Our Projects</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="w3.css">
  <link rel="stylesheet" href="blueberry.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="jquery.blueberry.js"></script>
  <script src="w3.js"></script>
  <script>
  $(window).load(function(){
      $('.blueberry').blueberry();
  });
  </script>
   <body background="http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg">
<div w3-include-html="header.html"></div>
  <!-- Page content -->
  <div class="w3-content w3-padding-xlarge w3-margin-top" id="portfolio">


    <!-- Images (Portfolio) -->
    <br />
    <br />
<a class="w3-btn w3-white" href= "pancake.html" style="margin:0;padding:0;width:100%;">
    <h2 class="w3-text-brown w3-hover-orange">Homemade Pancakes</h2>
<img src="http://i.imgur.com/InpBups.jpg" style="width:100%">

</a>
<a class="w3-btn w3-white" href= "pandaglass.html" style="margin:0;padding:0;width:100%;">
    <h2 class="w3-text-brown w3-hover-orange">Panda Glass</h2>
<img src="http://i.imgur.com/cdKamX1.jpg" style="width:100%">

</a>
<a class="w3-btn w3-white" href= "airfreshener.html" style="margin:0;padding:0;width:100%;">
    <h2 class="w3-text-brown w3-hover-orange">Homemade Air Freshener</h2>
<img src="http://i.imgur.com/kbnCrCL.jpg" style="width:100%">

</a>
  </body>
  <script>
  w3IncludeHTML();
  </script>
  </html>
