


<!DOCTYPE html>
<html>
<title>Stores and Vendors</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="stores_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="w3.js"></script>
<body background="http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg">

    <header class="w3-display-container w3-content" style="max-width:1500px">
    <div w3-include-html="header.html"></div>
<!-- Page content -->
<div class="c" id="portfolio">

  <!-- Images (Portfolio) -->
  <img src="" alt="" class="w3-image" width="1000" height="500">


  <!-- Contact -->
  <div class="w3-light-grey w3-padding-xlarge w3-padding-32 w3-margin-top" style="margin-top:64px" id="contact">
    <h1 class="w3-center w3-text-brown">Tom Thumb</h1>
    <hr>
    <p class="w3-text-orange">Tom Thumb is a well known and respected supermarket chain with 2,205+ stores in the U.S.
	They are most well known for their grocery departments, as most of their sales are in food
	items. This store is definitely a go to for anything related to foods, however they do have
	a wedding department and run a pharmacy. Although the last two specifications seem to not
	apply to DIY projects, it is good to know what is available at each store you plan to buy at.
	Tom Thumb also maintains low prices and high quality throughout their stores, and are often
	consistent in their products from store to store.</p>
	<center>
	<a href="http://www.tomthumb.com/" target="_blank">
	<img src="http://logonoid.com/images/tom-thumb-logo.png" class="w3-hover-opacity">
	</a>
</center>
</div>


<div class="w3-container">
<center><h2 class="w3-text-brown">Stores</h2></center>
<ul class="w3-navbar w3-border w3-text-orange w3-light-grey w3-center">
  <li style="width:25%"><a href="amazon.html">Amazon</a></li>
  <li style="width:25%"><a href="walmart.html">Walmart</a></li>
  <li style="width:25%"><a href="tomthumb.html">Tom Thumb</a></li>
  <li style="width:25%"><a href="hobbylobby.html">Hobby Lobby</a></li>
</ul>
</div>

<!-- End page content -->
</div>

</body>
<script>
w3IncludeHTML();
</script>
</html>
